.action-btn {
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.action-btn-container {
  display: flex;
  justify-content: space-evenly;
  height: 124.5px !important;
  flex: 1;
}

.floating-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
.floating-action-btn {
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}
.table-image-view {
  text-align: center;
}

.normal-modal-size {
  max-width: 700px;
}