.message {
  -webkit-background-size: 40px 40px;
      -moz-background-size: 40px 40px;
      background-size: 40px 40px;
      background-image: -webkit-gradient(linear, left top, right bottom, color-stop(.25, rgba(255, 255, 255, .05)), color-stop(.25, transparent),
                 color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .05)),
                 color-stop(.75, rgba(255, 255, 255, .05)), color-stop(.75, transparent),
                          to(transparent));
      background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                          transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                          transparent 75%, transparent);
      background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                          transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                          transparent 75%, transparent);
      background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                           transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                           transparent 75%, transparent);
      background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                           transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                            transparent 75%, transparent);
      background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                            transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                             transparent 75%, transparent);
      -moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
      -webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
      box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
      width: 100%;
      border: 1px solid;
      color: #fff;
      padding: 15px;
      position: fixed;
      _position: absolute;
      text-shadow: 0 1px 0 rgba(0,0,0,.5);
      -webkit-animation: animate-bg 5s linear infinite;
      -moz-animation: animate-bg 5s linear infinite;
      z-index: 2000;
      top: 0;
      text-align: center;
}
.success {
  /*background: #1fc316;*/
  background-color: #61b832;
  border-color: #55a12c;

}
.info {
  background-color: #00aeff;
  border-color: #0478ad;
}
.error {
  /*background: #d9534f;*/
  background-color: #de4343;
  border-color: #c43d3d;

}
.hidden {
  display: none;
}

@-webkit-keyframes animate-bg{
  from {
     background-position: 0 0;
  }
  to {
     background-position: -80px 0;
  }
}

@-moz-keyframes animate-bg{
  from {
     background-position: 0 0;
  }
  to {
     background-position: -80px 0;
  }
}